#portfolio-projects {
  padding: 100px 15px;
}

#portfolio-projects .project-image {
  width: 100%;
  margin-bottom: 3rem;
}

#portfolio-projects .project-image .img {
  width: 100%;
  height: 450px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 10px;
}
/* kid react uses this eh */
#portfolio-projects .project-image .img.vidly-img {
  width: 100%;
  height: 640px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 10px;
}

#portfolio-projects h2 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#portfolio-projects .info .buttons {
  padding: 20px 0;
}

#portfolio-projects .info .buttons a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

#portfolio-projects .info .buttons .fas {
  color: #ff5253;
  margin-right: 5px;
}

#portfolio-projects .info .buttons a:hover {
  background: #87cdff;
}

#portfolio-projects .info .buttons .fas {
  color: #000;
}

#portfolio-projects p {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 200;
  border-radius: 3px;
  color: #929294;
  text-decoration: none;
  margin-bottom: 1.8rem;
}

#portfolio-projects h3 {
  font-size: 2rem;
  margin: 2rem 0;
  text-transform: uppercase;
}

/*Tablets*/
@media only screen and (max-width: 960px) {
  #portfolio-projects {
    padding: 60px 35px;
  }
  #portfolio-projects h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  #portfolio-projects .project-image .img.vidly-img {
    height: 440px;
  }
  #portfolio-projects .project-image .img {
    height: 400px;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio-projects {
    padding: 60px 25px;
  }
  #portfolio-projects .project-image .img.vidly-img {
    height: 340px;
  }
  #portfolio-projects .project-image .img {
    height: 300px;
  }
  #portfolio-projects h2 {
    font-size: 2.2rem;
    font-weight: 250;
  }
  #portfolio-projects .info .buttons a {
    margin-bottom: 2px;
  }
}
/*Phone*/
@media only screen and (max-width: 450px) {
  #portfolio-projects {
    padding: 60px 15px;
  }
  #portfolio-projects h2 {
    font-size: 2rem;
    font-weight: 200;
  }
  #portfolio-projects p {
    font-size: 0.8rem;
  }
  #portfolio-projects .project-image {
    width: 100%;
    margin-bottom: 1.8rem;
  }
  #portfolio-projects .project-image .img.vidly-img {
    height: 150px;
  }
  #portfolio-projects .project-image .img {
    height: 150px;
  }
  #portfolio-projects .info .buttons a {
    margin-bottom: 2px;
  }
}
