#portfolio-projects {
  padding: 100px 15px;
}

#portfolio-projects .project-image {
  width: 100%;
  margin-bottom: 3rem;
}

#portfolio-projects .project-image .img {
  width: 100%;
  height: 450px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 10px;
}

#portfolio-projects h2 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#portfolio-projects .info .buttons {
  padding: 20px 0;
}

#portfolio-projects .info .buttons a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

#portfolio-projects .info .buttons .fas {
  color: #ff5253;
  margin-right: 5px;
}

#portfolio-projects .info .buttons a:hover {
  background: #87cdff;
}

#portfolio-projects .info .buttons .fas {
  color: #000;
}

#portfolio-projects p {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.7;
  border-radius: 3px;
  color: #929294;
  text-decoration: none;
  margin-bottom: 1.8rem;
}

#portfolio-projects h3 {
  font-size: 2rem;
  margin: 2rem 0;
  text-transform: uppercase;
}

/* THREEJS project */
#Threejs-section .portfolio-containerz {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 10px;
}

/* Box1 */
#Threejs-section .portfolio-containerz .boxx.imageA {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
#Threejs-section .portfolio-containerz .boxx.imageA .image {
  background: url("../portfolio/images/cube-debris.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Box2 */
#Threejs-section .portfolio-containerz .boxx.imageB {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

#Threejs-section .portfolio-containerz .boxx.imageB .image {
  background: url("../portfolio/images/complex-animation.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Box3 */
#Threejs-section .portfolio-containerz .boxx.imageC {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

#Threejs-section .portfolio-containerz .boxx.imageC .image {
  background: url("../portfolio/images/Orbiting-geometry.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#Threejs-section .portfolio-containerz .boxx {
  background: burlywood;
  display: block;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  width: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 10px;
}

#Threejs-section .portfolio-containerz .boxx:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 10px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 10px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 10px 40px 74px 24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

#Threejs-section .portfolio-containerz .boxx .image .hover-bg {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
  height: 100%;
  width: 100%;
}

#Threejs-section .portfolio-containerz .boxx:hover .image .hover-bg {
  padding: 10px 20px;
  background: rgba(255, 53, 53, 0.8);
}

#Threejs-section .portfolio-containerz .boxx .image .hover-bg .title {
  height: 100%;
  width: 100%;
}

#Threejs-section .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#Threejs-section .portfolio-containerz .boxx .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#Threejs-section
  .portfolio-containerz
  .boxx:hover
  .image
  .hover-bg
  .title
  .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 0px, 0);
  opacity: 1;
}
/*Tablets*/
@media only screen and (max-width: 960px) {
  #portfolio-projects {
    padding: 60px 35px;
  }
  #portfolio-projects h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  #portfolio-projects .project-image .img {
    height: 400px;
    margin-bottom: 1.5rem;
  }
  #Threejs-section .portfolio-containerz {
    grid-template-rows: 100px 100px 100px;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio-projects {
    padding: 60px 25px;
  }
  #portfolio-projects .project-image .img {
    height: 300px;
  }
  #portfolio-projects h2 {
    font-size: 2.2rem;
    font-weight: 250;
  }
  #portfolio-projects .info .buttons a {
    margin-bottom: 2px;
  }
}
/*Phone*/
@media only screen and (max-width: 450px) {
  #portfolio-projects {
    padding: 60px 15px;
  }
  #portfolio-projects h2 {
    font-size: 2rem;
    font-weight: 200;
  }
  #portfolio-projects p {
    font-size: 0.8rem;
  }
  #portfolio-projects .project-image {
    width: 100%;
    margin-bottom: 1.8rem;
  }
  #portfolio-projects .project-image .img {
    height: 150px;
  }
  #portfolio-projects .info .buttons a {
    margin-bottom: 2px;
  }
}
